#title{
    margin-left: 10%;
}

#kids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    padding: 50px;
    border-top: solid gray;
}

.kids_profile {
    background-color: #ABEBC6;
    padding: 20px;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.kids_profile:hover {
    background-color: #58D68D;
}

.kids_profile button {
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
}

.kids_profile button:hover {
    background-color: #229954 ;
}

.kids_profile button.clicked {
    background-color: red;
}

#member_bttn_container{
    text-align: center;
}

#add_member_bttn {
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    margin-bottom: 80px;
}

#add_member_bttn:hover {
    background-color: #229954 ;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#member_form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

#member_form input[type="text"],
#member_form input[type="submit"] {
    margin: 20px;
}

#close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: #ddd;
  border: none;
  border-radius: 30%;
  cursor: pointer;
}

.profile_pic{
  border-radius: 50%;
  width: 200px;
}

