:root {
    --darkest-green: #1b4332;
    --dark-green: #2d6a4f;
    --green: #40916c;
    --light-green: #95d5b2;
    --lightest-green: #d8f3dc;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%
    background-color: white;
    color: var(--darkest-green);
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkest-green);
    position: relative;
}

.logo {
    height: 50px;
}

.logo img {
    height: 100%;
}

nav ul {
    margin: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

nav ul li:hover {
    background-color: var(--green);
    cursor: pointer;
}

nav ul li a {
    color: var(--lightest-green);
    text-decoration: none;
}

#login {
    margin-right: 25px;
}

section {
    padding: 100px 0;
}

#banner {
    display: flex;
    position: relative;
    height: 100vh;
}

#banner_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#banner_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

#banner_text {
    position: absolute;
    display: block;
    z-index: 1;
    color: var(--lightest-green);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 4);
    font-size: 3rem;
    margin-left: 50px;
}

.about_us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about_us div{
    width: 40%;
    min-width: 300px;
}

#about_us_img{
    width: 100%;
}

.about_us a{
    text-decoration: none;
    color: var(--darkest-green);
}

#feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background: var(--lightest-green);
}

#feature div {
    width: 40%;
    min-width: 300px;
}

#feature ul {
    padding: 0;
}
#feature ul li {
    list-style: none;
}

#feature img{
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}

#pricing h2 {
    text-align: center;
    margin-bottom: 50px;
}

#plan-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

#plan-wrapper div{
    min-width: 300px;
    text-align: center;
    background: var(--light-green);
    border-radius: 40px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.testimonial {
    text-align: center;
    padding: 50px;
    border: 1px solid black;
}

#testimonial_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    padding: 50px;
}

.newsletter {
    text-align: center;
    background: var(--lightest-green);
}

@media screen and (max-width: 600px){
    #banner_text {
        font-size: 2rem;
    }

    #feature img{
        margin-top: 0;
    }
}




